.buy {
    height: 50%;
    width: 20%;
    margin: 30px;
    padding: 8px;
    border: 1px solid rgba(32, 178, 171, 0.3);
    border-radius: 10px;
  }
  .buy h4 {
    color: green;
  }
  .deliver {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  .deliver p:hover {
    color: red;
  }
  .btnCart {
    width: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: goldenrod;
    padding: 10px;
    margin: 10px auto;
  }
  