
  
  .products{
    display: flex;
    align-items: center;
    margin:-16% 0 0 1.5%;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .product{
    width: 19%;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    z-index: 70;
  }
  .product > img{
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
  }
  .product h4{
    border-top: 1px solid aquamarine;
    padding: 5px 0;
    margin-top: 10px;
  }
  .product h5{
    margin: 10px 0;
    text-decoration:line-through;
    color: gray;
  }
  .product div{
    display:  flex;
    align-items: center;
    gap: 8px;
  }
  .product button{
    margin: 10px 0;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    transition: ease-out 0.2s ;
  }
  .product button:hover{
    color: crimson;
    opacity: 1;
  }