* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(128, 128, 128, 0.249);
}
.container{
  max-width: 98%;
  margin: 0 auto;
}
.displayOn , .detailsBordOn {
  display: inline-block;
}
a {
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
ul, li{
  list-style: none;
}
.notActive,.active{
  width: 25%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left:-30%;
  z-index: 100;
  transition: ease-out 1s ;
}
.active{
  transition: ease-out 1s ;
  left: 0;
}
.active span{
  display: flex;
  cursor: pointer;
  padding: 8px;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.active span:hover{
  background-color: aquamarine;
}
main{
  position: relative;
}
footer button{
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-color: rgb(48, 46, 46,0.6);
  color: white;
}
.footer{
  width: 100%;
  background-color: rgb(37, 39, 60);
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid gray;
}
.about span{
  cursor: pointer;
  margin: 8px 0;

}
.aboutUs{
  color: white;
}
.informatin{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 10px;
}
.informatin div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.informatin div,.informatin > p{
  cursor: pointer;
  padding: 4px;
  border: 2px solid gray;
  color: white;
}
.black{
  width: 100vw;
  height: 200vh;
  position: absolute;
  opacity: 0.3;
  background-color: black;
  z-index: 2;
}
