* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(128, 128, 128, 0.249);
}
.container{
  max-width: 98%;
  margin: 0 auto;
}
.upNav {
  width: 100%;
  background-color: rgba(1, 1, 32, 0.671);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.upNav > p {
  width: 80px;
  cursor: pointer;
  border: 1px solid transparent;
}
.upNav > p:hover {
  border: 1px solid black;
}
.deliver {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
.deliver:hover {
  border: 1px solid black;
}
.deliver > p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.deliver span {
  font-size: 18px;
  font-weight: 700;
}
.search {
  display: flex;
  width: 600px;
  align-items: center;
  border-radius: 8px;
}
.dropDown {
  width: 20%;
  height: 42px;
  display: flex;
  background-color: rgba(128, 128, 128, 0.26);
  align-items: center;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid black;
}
.search input {
  padding: 2px;
  width: 70%;
  height: 40px;
  border: none;
  outline: none;
}
.search > i {
  width: 10%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 177, 136);
  color: white;
  font-size: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.infoLanguage {
  display: flex;
  position: relative;
  flex-direction: column;
}
.language {
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: 4px;
}
.language:hover {
  border: 1px solid black;
}
.language span {
  color: white;
}

.linkChange {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.changeLanguageSelect {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.changeLanguageSelect div {
  display: flex;
  align-items: center;
  gap: 8px;
}
a {
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
ul, li{
  list-style: none;
}
.border {
  border-bottom: 1px solid gray;
}
.Shoping {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.info:last-child {
  text-align: center;
}

.signIn {
  width: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.info,
.infoSignIn {
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 80;
  background-color: white;
  display: none;
}
.signInText {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px;
}
.signInText:hover {
  border: 1px solid black;
}
.displayOn , .detailsBordOn {
  display: inline-block;
}
.info:hover,
.infoSignIn:hover {
  display: inline-block;
}
.btnSignIn {
  width: 65%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: goldenrod;
  padding: 10px;
  margin: 10px auto;
}
.accountList {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.267);
}
.list {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(128, 128, 128, 0.267);
}
.account {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.shop {
  display: flex;
  align-items: end;
  cursor: pointer;
}
.imgShop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgShop span {
  position: relative;
  top: 20px;
}
.downNav {
  width: 100%;
  background-color: rgba(1, 1, 32, 0.371);
}
.downNav img {
  width: 20px;
  height: 20px;
}
.menu > span,
.menuBurger {
  padding: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu > span:hover,
.menuBurger:hover {
  border: 1px solid white;
}
.menuBurger {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notActive,.active{
  width: 25%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left:-30%;
  z-index: 100;
  transition: ease-out 1s ;
}
.active{
  transition: ease-out 1s ;
  left: 0;
}

.user{
  width: 100%;
  height: 50px;
  background-color: rgba(37, 39, 50);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  justify-content: flex-start;
  color: white;
}
.user img{
  width: 40px;
  height: 40px;
}
.devices,.department,.music,.aboutUs{
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-bottom: 1px solid gray;

}
.department,.aboutUs{
  border-bottom: none;
}
.active span{
  display: flex;
  cursor: pointer;
  padding: 8px;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.active span:hover{
  background-color: aquamarine;
}
.music{
  margin-top: 10px;
  border-top: 1px solid gray;
  border-bottom: none;
}
.slider{
  width: 100%;
  height: 500px;
  /* position: absolute; */
}
.slider img{
  width: 100%;
}
main{
  position: relative;
}
.products{
  display: flex;
  align-items: center;
  margin:-16% 0 0 1.5%;
  gap: 10px;
  flex-wrap: wrap;
}

.product{
  width: 19%;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  z-index: 70;
}
.product > img{
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
}
.product h4{
  border-top: 1px solid aquamarine;
  padding: 5px 0;
  margin-top: 10px;
}
.product h5{
  margin: 10px 0;
  text-decoration:line-through;
  color: gray;
}
.product div{
  display:  flex;
  align-items: center;
  gap: 8px;
}
.product button{
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.5;
  border: none;
  transition: ease-out 0.2s ;
}
.product button:hover{
  color: crimson;
  opacity: 1;
}
footer button{
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-color: rgb(48, 46, 46,0.6);
  color: white;
}
.footer{
  width: 100%;
  background-color: rgb(37, 39, 60);
}
.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid gray;
}
.about span{
  cursor: pointer;
  margin: 8px 0;

}
.aboutUs{
  color: white;
}
.informatin{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 10px;
}
.informatin div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.informatin div,.informatin > p{
  cursor: pointer;
  padding: 4px;
  border: 2px solid gray;
  color: white;
}
.black{
  width: 100vw;
  height: 200vh;
  position: absolute;
  opacity: 0.3;
  background-color: black;
  z-index: 2;
}
